# ====== IDE ======
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# ====== Maven ======
target/

# ====== Redis ======
dump.rdb

# ====== Node ======
node_modules/
dist/

# ====== OS ======
Thumbs.db
.DS_Store
